In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
engine = create_engine('postgresql+psycopg2://postgres:your_password@127.0.0.1:5433/postgres')

In [4]:
sql_query = """
        SELECT *
        FROM processed_data;
    """

df = pd.read_sql_query(sql_query, engine)

In [13]:
df

,Datetime,Company,Low,Open,High,Close,Volume,date,time
0,2024-04-19 10:00:00,IBM,182.300,182.500,182.510,182.460,22240,2024-04-19,10:00:00
1,2024-04-19 10:05:00,IBM,182.400,182.515,182.680,182.500,19601,2024-04-19,10:05:00
2,2024-04-19 10:10:00,IBM,182.390,182.475,182.540,182.540,30352,2024-04-19,10:10:00
3,2024-04-19 10:15:00,IBM,182.331,182.540,182.598,182.380,26812,2024-04-19,10:15:00
4,2024-04-19 10:20:00,IBM,182.165,182.330,182.370,182.180,19756,2024-04-19,10:20:00
...,...,...,...,...,...,...,...,...,...
2795,2024-05-02 19:35:00,MSFT,398.000,398.000,398.150,398.075,455,2024-05-02,19:35:00
2796,2024-05-02 19:40:00,MSFT,397.600,398.140,398.140,397.870,1312,2024-05-02,19:40:00
2797,2024-05-02 19:45:00,MSFT,397.550,397.550,398.084,398.000,372,2024-05-02,19:45:00
2798,2024-05-02 19:50:00,MSFT,397.850,397.970,398.000,398.000,2027,2024-05-02,19:50:00
2799,2024-05-02 19:55:00,MSFT,397.650,398.000,398.000,397.650,1682,2024-05-02,19:55:00

In [12]:
#Datetime kolonunu gün ve saat olarak 2 kolonda ayır
df['date'] = pd.to_datetime(df['Datetime']).dt.date
df['time'] = pd.to_datetime(df['Datetime']).dt.time

In [20]:
#date kolonundan 2024 04 19 olan ve Company kolonunda IBM olan verileri getir
df_filtered = df[(df['Company'] == 'TSLA')]

In [21]:
df_filtered

,Datetime,Company,Low,Open,High,Close,Volume,date,time
100,2024-04-19 11:40:00,TSLA,149.33,149.728,149.980,149.446,740741,2024-04-19,11:40:00
101,2024-04-19 11:45:00,TSLA,149.34,149.440,149.900,149.730,692687,2024-04-19,11:45:00
102,2024-04-19 11:50:00,TSLA,149.55,149.734,150.090,149.632,759047,2024-04-19,11:50:00
103,2024-04-19 11:55:00,TSLA,149.20,149.620,149.645,149.240,748856,2024-04-19,11:55:00
104,2024-04-19 12:00:00,TSLA,149.23,149.230,149.640,149.448,632025,2024-04-19,12:00:00
...,...,...,...,...,...,...,...,...,...
2595,2024-05-02 19:35:00,TSLA,180.63,180.700,180.740,180.700,2788,2024-05-02,19:35:00
2596,2024-05-02 19:40:00,TSLA,180.60,180.700,180.730,180.660,9757,2024-05-02,19:40:00
2597,2024-05-02 19:45:00,TSLA,180.57,180.640,180.670,180.630,9089,2024-05-02,19:45:00
2598,2024-05-02 19:50:00,TSLA,180.63,180.650,180.700,180.680,7930,2024-05-02,19:50:00
2599,2024-05-02 19:55:00,TSLA,180.60,180.670,180.750,180.660,33859,2024-05-02,19:55:00

In [22]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Veri setini yükleyin
data = df_filtered

# Gerekli sütunları seçin
features = ['Low', 'Open', 'High', 'Volume']
target = 'Close'

# Eğitim ve test verilerini ayırın
X_train, X_test, y_train, y_test = train_test_split(data[features], data[target], test_size=0.2, random_state=0)

# Lineer regresyon modelini oluşturun ve eğitin
model = LinearRegression()
model.fit(X_train, y_train)

# Test verisi üzerinde tahmin yapın
predictions = model.predict(X_test)

# Modelin performansını değerlendirin
mse = mean_squared_error(y_test, predictions)
print(f'Mean Squared Error: {mse}')

Mean Squared Error: 0.10339951388372026

In [23]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Veri setini yükleyin
data = df

# Gerekli sütunları seçin
features = ['Low', 'Open', 'High', 'Volume']
target = 'Close'

# Şirketleri ayırt etmek için bir döngü kullanarak her biri için model kurun
companies = data['Company'].unique()
models = {}
mse_scores = {}

for company in companies:
    # Şirkete özgü verileri filtreleyin
    company_data = data[data['Company'] == company]
    
    # Eğitim ve test verilerini ayırın
    X_train, X_test, y_train, y_test = train_test_split(company_data[features], company_data[target], test_size=0.2, random_state=0)
    
    # Lineer regresyon modelini oluşturun ve eğitin
    model = LinearRegression()
    model.fit(X_train, y_train)
    models[company] = model
    
    # Test verisi üzerinde tahmin yapın
    predictions = model.predict(X_test)
    
    # Modelin performansını değerlendirin
    mse = mean_squared_error(y_test, predictions)
    mse_scores[company] = mse
    print(f'{company}: Mean Squared Error (MSE) = {mse}')

# MSE değerlerini yazdır
print("Tüm şirketler için MSE değerleri:")
for company, mse in mse_scores.items():
    print(f"{company}: {mse}")

IBM: Mean Squared Error (MSE) = 0.020181763251413454
TSLA: Mean Squared Error (MSE) = 0.10339951388372026
AAPL: Mean Squared Error (MSE) = 0.026894267145303092
MSFT: Mean Squared Error (MSE) = 0.19933955889716276
Tüm şirketler için MSE değerleri:
IBM: 0.020181763251413454
TSLA: 0.10339951388372026
AAPL: 0.026894267145303092
MSFT: 0.19933955889716276